* {
  box-sizing: border-box;
  box-sizing: content-box;
  align-items: stretch;
  
}
html {
  background-color: white;
}
body {
  font-family: Helvetica, Arial, Roboto, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: -0.0175em;
  margin: 0 auto;;
  padding: 0.25em;
  background-color: white;
  color: blue;
  max-width: 100%;
  overflow-x: hidden;
}
main, article {
  display: block;
  margin: 0 auto;
  padding: 0;
}
a {
  color: blue;
  text-decoration: underline;
}
a:hover,
a:focus {
  text-decoration: line-through;
}
h1, h2, h3, h4, h5, h6, p {
  font-size: 1em;
  font-weight: 400;
  margin: .5em 0 2em 0;
  padding: 0;
}
h1 {
  margin-bottom: 0;
  text-transform: lowercase;
}
h2 {
  text-transform: lowercase;
  margin-bottom: 0.5em;
}
h1 a, h2 a {
  text-decoration: none;
}
blockquote {
  display: block;
  margin: 1em auto;
  padding: 0;
  position: relative;
}
blockquote:before {
  content: '“';
  position: absolute;
  left: -0.425em;
  margin-top: -0.125em;
  font-family: Times, 'Times New Roman', serif;
}
blockquote:after {
  content: '”';
  position: relative;
  margin-top: -0.125em;
  font-family: Times, 'Times New Roman', serif;
}
blockquote * {
  display: inline;
}
img {
  max-width: 100%;
  height: auto;
}
ul, ol {
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
li {
    display: block;
    margin: 0 0 0.5em 1em;
    padding: 0;
    position: relative;
}
li:before {
  content: '\2014';
  position: absolute;
  left: -1em;
}
.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 0 3em 0;
}
.button {
  display: block;
  padding: 0.35em;
  margin: 0 6px 0.5em 0;
  border: 1px solid black;
  text-decoration: none;
  text-transform: lowercase;
  font-family: inherit;
  color: inherit;
  border-radius: 2em;
  position:auto;
  align-items: auto;
  align: auto;
  justify-content: space-around;
  justify-content: center;
}
.button:hover,
.button:focus {
  font-style: normal;
  text-decoration: line-through;
  cursor: alias;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.col {
  width: 100%;
}
.serif {
  font-family: Times, 'Times New Roman', serif;
}
p[rel=author] {
  text-transform: lowercase;
}
@media (min-width: 50em) {
  body {
    font-size: 3vw;
  }
}
@media (min-width: 60em) {
  .col {
    width: 49%;
  }
}
