* {
  box-sizing: border-box;
}
body {
  display: block;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  max-width: 100vw;
  width: 100%;
  font-family: helvetica, arial, roboto, sans-serif;
  font-size: 16px;
  line-height: 1.3;
  color: white;
  background-color: white;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1em 1em 0 1em;
  width: 100vw;
}
.bg {
  position: relative;
  padding: 1em;
  margin: 0 0 1em 0;
  width: 100vw;
  min-height: 50vh;
}
.bg:first-child {
  min-height: 0;
}
.bg:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: blue;
  filter: blur(10px);
  z-index: -1;
  border-radius: 1em;
}
form, .list {
  display: block;
  position: relative;
  margin: 0 0 2em 0;
}
input {
  background-color: transparent;
  color: inherit;
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 1em;
  width: 100%;
}
input::placeholder {
  color: inherit;
}
i {
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
}
ol {
  margin: 0;
  padding: 0;
}
li {
  margin: 0 0 0 1em;
  padding: 0;
}
button {
  color: inherit;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 400;
  display: inline-block;
  padding: 0;
  margin: 0 0.5em 0.5em 0;
}
.randomize, .clear-items {
  border-bottom: 0.1em solid;
}
.clear-items {
  position: absolute;
  bottom: 2em;
  right: -1.5em;
  transform: rotate(-90deg);
}
button:hover, button:focus {
  font-style: italic;
  border-color: transparent;
}
.add-item {
  position: absolute;
  right: 1em;
  bottom: 0;
  margin: 0;
}
.remove-item {
  display: inline-block;
  margin-left: 0.5em;
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.25s linear;
}
li:hover .remove-item {
  opacity: 1;
}

@media (min-width: 50em) {
  body {
    font-size: 2vw;
  }
  main {
    min-height: 100vh;
  }
  .bg {
    width: 46.5vw;
  }
}